github-copilot/apps.json
nvim/.env
1Password
BraveSoftware
chromium
Code
dconf
Docker Desktop
dotfiles
github-copilot
glib-2.0
goa-1.0
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-3.0
gtk-4.0
helm
ibus
kitty
lazygit
Lens
menus
microsoft-edge-dev
mpv
PCSX2
pulse
rofi
spotify
teams-for-linux
Thunar
vivaldi
vivaldi-snapshot
volumeicon
xfce4
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
